.container{
    display: grid;
    width: 600px;
    /* height: 100vh; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "article1 article1 article1 article1"
    "article2 article2 article3 article3"
    "article2 article2 article3 article3";
}
.article1{
    grid-area: article1;
    padding: 20px 20px;
    background-color: white;
}
.article2{
    grid-area: article2;
    padding: 20px 20px;
    background-color: #2BB3B1;
}
.article3{
    grid-area: article3;
    padding: 20px 20px;
    background-color:#4ABEBD;
}
h3{
    color: #7FD5CA;
}
p{
    font-size: 16px;
}
h3+p{
    color: #C8D777;
}
.grey{
    color: #D8DDE1;
}
h4{
    color: white;
}
.article2 h4+p{
    font-size: 14px;
    color:#D8DDE1 ;
}
span{
    font-size: 22px;
    color: white;
}
.white{
    color: white 
}